
<div class="wrapper">
   <!-- <navbar-cmp></navbar-cmp> -->
   <navbarslider></navbarslider>

  <div class="background card">
 <div class="textCenter">
    <img src="../../assets/img/GIFS/newcamera.gif"><br>
    <div class="text1">Connect Camera</div>
    <div class="text2">
      {{ text1 }}<br>
      {{ text2 }}
    </div>
    <button type="submit"  class="btn btn-primary" style="margin-top:5%;"  (click)="skip();" >SKIP</button>
    <button type="submit"  class="btn btn-primary" style="margin-top:5%;"  (click)="next();" >NEXT</button>
  </div>
</div>