<div class="cameraList">
        <div class="col-sm-12">
          <br>
          <div class="row cameratext">
              <div class="addcamera">
                 
              </div>          
              <div class="camerasDiv">
                <button type="button" class="btn btn-default btn-sm" id="addCamera" (click)="UpdateAggregator()"data-toggle="modal" data-target="#myModal">
                  Add Aggregator
                </button>
              </div>
          </div>
          <br>
            <div class="row cameralistdiv">
                    <P>White listed aggregators</P>
                <div class="col-sm-12" *ngFor="let aggr of aggregators">
                      <div class="lawngreen">
                          <div class="row">
                              <div class="col-sm-11 col-xs-10">
                                  <a class="listContent btn-link center">{{aggr.deviceName}}</a>
                              </div>
                              <div class="col-sm-1 col-xs-2">
                                  <a (click)="aggrRemove(aggr._id)">
                                      <span class="glyphicon glyphicon-trash"></span>
                                  </a>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
            <div class="row cameralistdiv">
                    <P>Non white listed aggregators</P>
                    <div class="col-sm-12" *ngFor="let aggr of aggregators2">
                          <div class="lawngreen">
                              <div class="row">
                                  <div class="col-sm-11 col-xs-10">
                                      <a class="listContent btn-link center">{{aggr.deviceName}}</a>
                                  </div>
                                  <div class="col-sm-1 col-xs-2">
                                      <a (click)="aggrRemove(aggr._id)">
                                          <span class="glyphicon glyphicon-trash"></span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
        </div>
      </div>
      
      <div class="modal fade" id="myModal" role="dialog" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Aggregator</h4>
              </div>
              <div class="modal-body"  style="padding:1%;">
                  <form class="form" id="myForm">
                      <br>
                      <div class="form-group">
                            <label class="text" for="deviceName">Aggregator Type</label>
                            <select id="aggrtype " data-style="btn-info" class="form-control listcam" [(ngModel)]="aggrType" name="aggrType" (change)="onChange($event.target.value)">
                                <option value="other">new</option>
                                <option value={{aggr._id}} *ngFor="let aggr of aggregators1">{{aggr.deviceName}}</option>
                            </select>
                      </div>
                      <div class="form-group">
                              <label class="text" for="deviceName">Aggregator Name</label>
                              <input type="text" class="form-control listcam" id="aggrName" placeholder="Enter unique aggregator name" [(ngModel)]="aggrName" name="aggrName" required>
                      </div>
      
                      <div class="form-group">
                              <label class="text" for="channelId">Channel Id</label>
                              <input type="text" class="form-control listcam" id="channelId" [(ngModel)]="channelId" placeholder="Enter channel ID" name="channelId" required>
                      </div>
      
                      <div class="form-group">
                              <label class="text" for="streamingUrl">streaming url</label><br>
                              <input type="text" class="form-control listcam" id="streamingUrl" placeholder="Enter unique streaming Url" placeholder="Enter Straeming url" [(ngModel)]="streamingUrl" name="streamingUrl" required>
                      </div>

                      <div class="form-group">
                            <label class="text" for="macId">MAC Address</label>
                            <input type="text" class="form-control listcam" id="macId" [(ngModel)]="macId" name= "macId" placeholder="Enter MAC address">
                      </div>

                      <div class="form-group ">
                            <label class="text" for="ipAddress">IP Address</label>
                            <input type="text" class="form-control listcam" id="ipAddress" [(ngModel)]="ipAddress" name= "ipAddress" placeholder="Enter IP address">
                      </div>
                      <div class="form-group ">
                              <label class="text" for="location1">Location</label>
                              <input type="text" class="form-control listcam" id="location1" [(ngModel)]="location1" placeholder="Enter location" name= "location1">
                      </div>
                  </form>
          <div class="modal-footer">
                  
                      <button type="submit" class="btn submitButton" (click)="PushAggrData()" size="8" data-dismiss="modal"
                              data-toggle="modal" data-target="#myModal1">Submit</button>
           
          </div>
        </div>
      