<div class="wrapper">

   <!-- <navbar-cmp></navbar-cmp> -->
   <navbarslider></navbarslider>

  <div class="row homepage">
  </div>
  <br>
  <div class="row background card">
    <div class="cameraConnect">
      <div class="textCenter">
        <img src="../../assets/img/web/cameraconnected.png"><br>
        <div class="text2">Camera successfully connected</div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top:5%;" (click)="goToDashboard()">
         GO TO DASHBOARD
      </button>
    </div>
  </div>
</div>


