<div class="container-fluid background">
    <div class="cameraList">
        <div class="col-sm-12">
            <br>
            <div class="row cameratext">
                <!-- <div class="addcamera">
                    Add Camera
                </div> -->
                <div class="camerasDiv">
                    <button type="button" class="btn btn-default btn-sm" id="addCamera" (click)="addcamera()" data-toggle="modal" data-target="#myModal">
                        Add Camera
                    </button>
                </div>
            </div>
            <br>
            <div class="row cameralistdiv">
                <div class="col-sm-12" *ngFor="let cam of cameras">
                    <div [ngClass]="cam.camStatus === 1 ? 'lawngreen' : 'gray'">
                        <div class="row">
                            <div class="col-sm-9 col-xs-6">
                                <a class="listContent btn-link center" data-toggle="modal" data-target="#RawModal" (click)="clicked(cam._id,cam.streamingUrl,cam.deviceName, cam.aggregatorId, cam.computeEngineId, cam.deviceType)"
                                    (click)="takePreview()">{{cam.deviceName}}</a>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <a (click)="playCam(cam._id, cam.deviceName, cam.aggregatorId, cam.computeEngineId)">
                                    <span class="glyphicon glyphicon-play playButton" *ngIf="cam.status === '1'"></span>
                                </a>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <a data-toggle="modal" data-target="#myModal1"  (click)="editCam(cam)">
                                    <span class="glyphicon glyphicon-pencil" *ngIf="cam.status === '0'"></span>
                                </a>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <a (click)="camRemove(cam._id,cam.aggregatorId, cam.computeEngineId)">
                                    <span class="glyphicon glyphicon-trash"  *ngIf="cam.status === '0'"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Camera</h4>
            </div>
            <div class="modal-body" style="padding:1%;">
                <form class="form" id="myForm">
                    <br>

                    <div class="form-group">
                        <label class="text" for="deviceName">Device Name (Camera name to be displayed)</label>
                        <input type="text" class="form-control listcam" id="deviceName" placeholder="Enter unique device name without spaces" [(ngModel)]="deviceName"
                            name="deviceName" required>
                    </div>

                    <div class="form-group">
                        <label class="text" for="streamingUrl">Streaming URL</label>
                        <br>
                        <input type="text" class="form-control listcam" style="width:90%;float: left;" id="streamingUrl" placeholder="Enter unique streaming Url"
                            [(ngModel)]="streamingUrl" name="streamingUrl" required>
                        <button type="submit" class="btn submitButton" (click)="takePreview()" size="6">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>

                    <div class="form-group " style=" width:100%; height:100%;text-align: center;">
                        <img style="width:200px; height:150px;margin: 0 auto;" [src]="domSanitizer.bypassSecurityTrustUrl(thumbnail)" *ngIf="thumbnailImg">
                    </div>

                    <div *ngIf="this.advance; else reduceModal">
                        <ng-template #reduceModal></ng-template>
                        <div class="form-group">
                            <label class="text" for="deviceName">Device Type</label>
                            <select id="deviceType" data-style="btn-info" class="form-control listcam" [(ngModel)]="deviceType" name="deviceType">
                                <option value="">Select device type</option>
                                <option value="Mobile" selected>Mobile 360</option>
                                <option value="DVR" selected>DVR</option>
                                <option value="IP" selected>IP</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="text" for="deviceName">Aggregator</label>
                            <select style=" width:100%;" id="aggrtype " data-style="btn-info" class="form-control listcam" [(ngModel)]="aggrType" name="aggrType">
                                <option value={{aggr._id}} *ngFor="let aggr of aggregators;">{{aggr.deviceName}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="text" for="deviceName">Compute Engine</label>
                            <select id="compType " data-style="btn-info" class="form-control listcam" [(ngModel)]="compType" name="compType">
                                <option value={{comp._id}} *ngFor="let comp of computeengines">{{comp.deviceName}}</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label class="text" for="location1">Location</label>
                            <input type="text" class="form-control listcam" id="location1" [(ngModel)]="location1" name="location1">
                        </div>
                    </div>


                </form>

                <div class="modal-footer">

                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 advance">
                            <div class="row">
                                <label style="font-size:12px;" (click)="onAdvancemodal()">Advance options</label>
                            </div>
                            <div *ngIf="!this.advance; else down">
                                <span (click)="onAdvancemodal()" class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ng-template #down>
                                <span (click)="onAdvancemodal()" class="glyphicon glyphicon-chevron-up"></span>
                            </ng-template>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn submitButton" (click)="PushCamData()" size="8" data-dismiss="modal" data-toggle="modal"
                                data-target="#myModal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Raw Image Modal -->
<div class="modal fade" id="RawModal" role="dialog" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">

            <div class="modal-body" style="padding:1%;">
                <form class="form" id="myForm">
                    <br>
                    <div class="form-group">
                        <label class="text" style="font-size: 1.5em" for="deviceName">{{deviceName}}</label>
                        <button type="button" class="close" data-dismiss="modal" (click)="resetThumbnail()">&times;</button>
                    </div>
                    <div class="form-group">
                        <label class="text" for="featureName">Feature</label>
                        <select id="featureName" data-style="btn-info" class="form-control" [(ngModel)]="featureName" name="featureName">
                            <option *ngFor="let algo of compFeatureNames;" [ngValue]='algo.featureName'>{{algo.featureName}}</option>
                            <!-- <option value="humanDetection">Human Detection</option>
                            <option value="faceDetection">Face Detection</option> -->
                        </select>

                        <div *ngIf="featureName === 'objectDetection'; else noObject">
                            <label class="text" for="objectName">Object</label>
                            <select id="objectName" data-style="btn-info" class="form-control" [(ngModel)]="objectName" name="objectName">
                                <option *ngFor="let object of compFeatureNames[featureSelectionIndex].objectSupported;" [ngValue]='object'>{{object}}</option>
                            </select>
                        </div>
                        <ng-template #noObject>

                        </ng-template>

                        <div *ngIf="ShapeName === 'Line'; else otherShapes">
                            <label class="text" for="lineDir">Direction</label>
                            <select id="lineDir" data-style="btn-info" class="form-control" [(ngModel)]="lineDir" name="lineDir">
                                <option value="left">Left</option>
                                <option value="right" selected>Right</option>
                                <option value="top" selected>Top</option>
                                <option value="bottom" selected>Bottom</option>
                            </select>
                        </div>
                        <ng-template #otherShapes>

                        </ng-template>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-12" style="padding-left:5px; padding-right:5px">
                            <!-- <div class="container"> -->
                                <canvas #myCanvas width="640" height="360" class="img-responsive" (mousedown)="mdEvent($event)" (mouseup)="muEvent($event)"
                                    (mousemove)="mmEvent($event)"></canvas>
                            <!-- </div> -->
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left">
                            <button type="button" class="btn btn-default" (click)="onReset()">Reset</button>         
                            </div>
                           
                            <div *ngIf="seleCamArr.status === '0'; else notStreaming">
                                <button type="submit" class="btn submitButton" size="8" data-dismiss="modal" data-toggle="modal" data-target="#RawModal"
                                (click)="onSubmit()">Start Streaming</button>
                            </div>
                        
                             <ng-template #notStreaming>
                                <button type="submit" class="btn submitButton" size="8" data-dismiss="modal" data-toggle="modal" data-target="#RawModal"
                                 disabled>Start Streaming</button>
                            </ng-template>
                       
                            <!-- <button type="submit" class="btn submitButton" size="8" data-dismiss="modal" data-toggle="modal" data-target="#RawModal"
                                (click)="onSubmit()">Start Streaming</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal1" role="dialog" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Camera</h4>
            </div>
            <div class="modal-body" style="padding:1%;">
                <form class="form" id="myForm">
                    <br>
                    <div class="form-group">
                        <label class="text" for="deviceName">Device Name (Camera name to be displayed)</label>
                        <input type="text" class="form-control listcam" id="deviceName" placeholder="Enter unique device name without spaces" [(ngModel)]="deviceName"
                            name="deviceName" required>
                    </div>

                    <div class="form-group">
                        <label class="text" for="streamingUrl">Streaming URL</label>
                        <br>
                        <input type="text" class="form-control listcam" style="width:90%;float: left;" id="streamingUrl" placeholder="Enter unique streaming Url"
                            [(ngModel)]="streamingUrl" name="streamingUrl" required>
                        <button type="submit" class="btn submitButton" (click)="takePreview()" size="6">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>

                    <div class="form-group " style=" width:100%; height:100%;text-align: center;">
                        <img style="width:200px; height:150px;margin: 0 auto;" [src]="domSanitizer.bypassSecurityTrustUrl(thumbnail)" *ngIf="thumbnailImg">
                    </div>


                    <div class="form-group">
                        <label class="text" for="deviceName">Device Type</label>
                        <select id="deviceType" data-style="btn-info" class="form-control listcam" [(ngModel)]="deviceType" name="deviceType">
                            <option value="">Select device type</option>
                            <option value="Mobile" selected>Mobile 360</option>
                            <option value="DVR" selected>DVR</option>
                            <option value="IP" selected>IP</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="text" for="deviceName">Aggregator</label>
                        <select style=" width:100%;" id="aggrtype " data-style="btn-info" class="form-control listcam" [(ngModel)]="aggrType" name="aggrType">
                            <option value={{aggr._id}} *ngFor="let aggr of aggregators;">{{aggr.deviceName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="text" for="deviceName">Compute Engine</label>
                        <select id="compType " data-style="btn-info" class="form-control listcam" [(ngModel)]="compType" name="compType">
                            <option value={{comp._id}} *ngFor="let comp of computeengines">{{comp.deviceName}}</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="text" for="location1">Location</label>
                        <input type="text" class="form-control listcam" id="location1" [(ngModel)]="location1" name="location1">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn submitButton" (click)="editCamData()" size="8" data-dismiss="modal" data-toggle="modal"
                        data-target="#myModal1">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>