.listcam{
    border: 1px solid #191919;
}
.formLayout{
    width:40%; 
    margin: 0 auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .formLayout{
        width:90%; 
        margin: 0 auto;
    }
}
